# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Dependency directories
lib/
libs/

# Logs and databases
*.log
*.sqlite3

# Environment files
.env

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
